<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Cadastrar</title>
    </head>
    <body>
        <h2>Adicionar Produto</h2>
        <input type="text" placeholder="Nome"/>
        <input type="text" placeholder="Quantidade"/>
        <input type="submit" value="Cadastrar"/>
    </body>
</html>