<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Produtos</title>
    </head>
    <body>
        <h2>Produtos</h2>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descricao</th>
            </tr>
            
            <%
                for(i = 0; i < produtos.length; i++){
            %>  
                    <tr>
                        <td><%=produtos[i].id_produtos %></td>
                        <td><%=produtos[i].nome %></td>
                        <td><%=produtos[i].descricao %></td>
                    </tr>
            <%
                }
            %>

        </table>
    </body>
</html>